POSTGRES_PASSWORD=change_me_db_password
JWT_SECRET=change_me_long_random_jwt_secret
PLATFORM_ADMIN_EMAIL=admin@det-app.ru
PLATFORM_ADMIN_PASSWORD=ChangeMeNow123!
PLATFORM_ADMIN_NAME=Platform Admin
PLATFORM_ADMIN_PHONE=
OWNER_DESTRUCTIVE_PIN=9294
PUBLIC_BASE_URL=http://api.det-app.ru
RELEASE_UPLOAD_TOKEN=change_me_release_upload_token
